################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
################################################################################

# Logging option 1=Screen only, 2=Log file only, 3=Both
#logging=3


# This section indicates to out put the contents of the configuration 
# file
[LogConfig]



# This section is for options for generating Sample Pycnonuclear reaction 
# rates.  Comment out if you don't want to run.  There are no parameters
[SampPycno]


# This section is for options for generating Folding Potential using our 
# brute force algoritm
[FoldingSimple]
r1=4.0
r2=5.0
dr=0.1
A1=58
Z1=28
A2=16
Z2=8
n=15
diffuse1=0.5
diffuse2=0.5
#rho0_1=0.1606844454
#rho0_2=0.1820414223
#tot_radius1=6.0
#tot_radius2=6.0
outputfile=O16Ni58step15.txt
delimiter=,



