################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
# For CC Rates using RMF from 10^10 to neutron drip
################################################################################

[genCCRates]
nucIntType=3
delimiter=,
outputfile=pycno_rates_C-C_TO_ND_RMF_2.csv
initial_rho=8.0E+9
final_rho=3.9E+10
rateCalcType=3
