################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
################################################################################

[genCCRates]
nucIntType=2
delimiter=,
outputfile=pycno_rates_C-C_TO_nuetronization_M3Y.csv
initial_rho=8.0E+9
final_rho=3.9E+10
rateCalcType=3
