################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
################################################################################

[genCCRates]
nucIntType=2
delimiter=,
outputfile=pycno_rates_C-C_TO_ND_M3Y_2.csv
initial_rho=1.0E+10
final_rho=4.0E+12
rateCalcType=3
