################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
################################################################################

[genCCRates]
nucIntType=5
delimiter=,
outputfile=pycno_rates_C-C_WD_G05high.csv

