################################################################################
#2345678901234567890123456789012345678901234567890123456789012345678901234567890
#                                                                              ^
# Any characters after 80 will be ignored -------------------------------------|
#
################################################################################

[genMCPRates]
nucleiDesc=O-O
nucIntType=2
delimiter=,
outputfile=pycno_rates_O-O_BOOK_M3Y.csv
initial_rho=5.0E+9
final_rho=1.9E+10
A1=16
A2=1.6E+1
Z1=8
Z2=8.0E+0